/* Dr Petter's SFXR colors */
/* 
	base brown = #c0b090
	imprint brown (logo) = #b0a080
	
	grey brown (buttons) = #a09088
	light brown = #f0c090
	dark brown = #807060
	
	black & white
*/

body {
	background-color: #c0b090;
	font-family: Impact, Charcoal, sans-serif;
	/* font-family: Verdana, Geneva, sans-serif; font-weight: bold; */
	/*font-family: 'Cosmic Alien', 'Arial Black', Gadget, sans-serif;*/
	font-size: 16px;
	color: black;
	margin: 2px;
}

#container {
	position: absolute;
	width: 320px;
	height: 480px;
	/* debugging border */
	border: 1px solid white;
}

.page {
	position: absolute;
	top: 32px;
}

/* the header logo */
.logo {
	font-family: 'Cosmic Alien';
	color: #b0a080;
	font-size: 24px;
	position: absolute;
	right: 2px;
	margin: 2px;
}

/* different types of boxes */
.box {
	background-color: #a09088;
	border: 1px solid black;
	padding: 2px;
	margin: 2px;
	float: left;
}

.selected {
	background-color: #807060;
	color: white;
}

.text {
	width: 70px;
}

.number {
	width: 30px;
}

.label {
	background-color: transparent;
	border: 0px solid black;
}
